
.box{
    background: #fff;
    display: flex;
    align-items: center;
}
.box .button{
    width: 25px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
    cursor: pointer;
}
.box .button:active{
    background: #ccc;
}
.box input{
    border-radius: 5px;
    font-size: 22px;
    border: 1px solid #fff;
    text-align: center;
}

#map { 
    height: 180px;
    margin-top: 1rem;
    padding-top: 1rem; 
}

#cari{
    margin-top: 1rem;
}

.box-checkout{
    border: 1px solid aquamarine;
    background: rgb(17, 240, 166);
    padding: 5px 0 0 15px;
}

.box-produk{
    display: flex;
    border: 1px transparent aquamarine;
    background: rgb(17, 240, 166);
    padding: 5px 0 0 15px;
}
.box-produk img{
    margin: 0 0 5px 5px;
    align-items: flex-start;
}
.info-produk{
    margin-left: 1rem;
}

.box-pesanan{
    border: 1px solid aquamarine;
    background: rgb(17, 240, 166);
    padding: 5px 0 0 15px;
    
}

.tombol-checkout{
    border: 1px solid aquamarine;
    float: right;
    padding-right: 2rem;
    padding-left: 1rem;
    background: rgb(17, 240, 166);
    padding: 5px 0 0 15px;
}
.info-button{
    margin-right: 2rem;
}
.info-button .btn{
    margin-bottom: 5px;
}
.input-saran{
    display: flex;
}
.input-saran #saran{
    margin-left: 20rem;
    border-style:hidden;
    float: right;
    background: rgb(17, 240, 166);
    
}
.info-pesanan{
    display: flex;
}

.info-pesanan p{
    margin : 5px 0px 0px 13px;
}

.metode{
    border: 1px solid aquamarine;
    background: rgb(17, 240, 166);
    padding: 5px 0 0 15px;
}
.metopem{
    justify-content: center;
}

.metopem img{
    margin-left: 10px;
}

.metopem input{
    margin-left: 10px;
}

.pesanan-saya{
    border: 1px solid rgb(17, 240, 166);
    background: rgb(17, 240, 166);
    display: flex;
}
.tab-pesanan{
    background: palegreen;
}
.tab-pesanan ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;

}

.tab-pesanan li{
    list-style: none;
    padding: 5px 10px;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 1rem 0px 0px 5px;
    margin-bottom: 1rem;
}
.tab-pesanan ul li a{
    text-decoration: none;
    color: black;
}

.tab-pesanan ul li a:hover{
    text-decoration: none;
    border-bottom: red;
}

.tab-pesanan ul li a#onlink {
    border-bottom: 1px solid red;
    
}
.tab-pesanan ul li a#onlink:hover {
    border-bottom: 1px solid red;
}

.tab-pesanan ul li a.active{
    border-bottom:1px solid red;
}

.search-box input{
    border-radius: 25px;
    margin-top: 5px;
}

.search-box .search-pesan{
    place-content: center;
}

.search-box i{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    height:5%;
    line-height: 25px;
    border-radius: 0 25px 25px 0;;
}

.ket{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

@media only screen and (max-width: 600px) {
    .cart-info p{
        display: none;
    }
}